<%if(user){%>
<%- include("partials/header2"); -%>
<%}else{%>
<%- include("partials/header"); -%>
<%}%>
<title>About Us</title>
<!-- <div id="google_translate_element"></div> -->
<h1 class="text-center about_color" >About Us</h1>
<!-- <div class="col-lg-12 col-md-12 col-sm-12">
    <img src="images/Modern-Farming-Technology.jpg" class="aboutUsimage_height">
    <h1 class="text-center"style="font-size:2.6rem; ">About Us</h1>
</div> -->
<br>
<div class="container-fluid">
    <div class="row col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="images/colorfulFarming1.jpg" class="aboutUs_images aboutUs_layout">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 aboutUs_layout" >
            <br>
                <p>E-Agriculture website is developed to provide agricultural  information online to the farmers.</p>
                <p>AGROWORLD is providing the online solution to the farmers and traders where they can buy, sell, and rent the crops and farming equipments. </p>
                <p>This website will helps the remote located farmers to get the valuable information about the latest crops and tools under one roof.</p>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-6 col-md-6 col-sm-12  aboutUs_layout">
            <br>
            <p>The best part of our website is that it includes everything in two languages (english and hindi), so that farmers can understand easily.</p>
                <p>It is very helpful to the farmers who lives in rural areas, where all the information does not reach to the farmers on time.</p>    
                <p>Using this website, farmers will get the latest updates over the crops, tools and equipment anywhere and at anytime.</p>
                <p>This will help them to provide the efficient agricultural reaults</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12  aboutUs_layout">
            <img src="images/colorfulFarming2.jpg" class="aboutUs_images">
        </div>
    </div>
</div>
<br>
<br>
<!-- OUR TEAM -->
<br>
<div class="container">
<p class="text-center">
    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="collapse">
    <h3>Our Team</h3>
    </button>
</p>
</div>
<div class="collapse" id="collapse">
    <div class="card card-body card-background back-img">
        <div class="container jumbotron col-lg-12 col-md-10 col-sm-12 container_color">

            <br>
            <div>
                <div class="row about-rows">
                    <div class="about-box col-lg-5 col-md-11 col-sm-11">
                      <div>
                        <img src="images/Rishabh.jpg" class="person-img">
                      </div>
                      <div class="name-box">
                        <h3>Rishabh Jain</h3>
                      </div>
                      <div class="info-about">
                        <p>Developer</p>
                        <a href="https://www.linkedin.com/in/rishabh-jain-82a366173"><i class="fab fa-linkedin fa-3x socical_icons"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100006250956028"><i class="fab fa-facebook fa-3x socical_icons"></i></a>
                        <a href="https://instagram.com/rishabhjain8052?igshid=1arvh9a7robew"><i class="fab fa-instagram fa-3x socical_icons"></i></a>
                      </div>
                    </div>
                    <div class="about-box col-lg-5 col-md-11 col-sm-11">
                      <div>
                        <img src="images/Amandeep.jpg"  class="person-img">
                      </div>
                      <div class="name-box">
                        <h3>Amandeep Singh</h3>
                      </div>
                      <div class="info-about">
                        <p>Developer</p>
                        <!-- <a href="https://www.linkedin.com/home"><i class="fab fa-linkedin fa-3x socical_icons"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-3x socical_icons"></i></a> -->
                        <a href="https://www.instagram.com/aman.sandhu_/"><i class="fab fa-instagram fa-3x socical_icons"></i></a>
                      </div>
                    </div>
                    <div class="about-box col-lg-5 col-md-11 col-sm-11">
                      <div  >
                        <img src="images/Simran.jpg" class="person-img">
                      </div>
                      <div class="name-box">
                        <h3>Simran Kaur Bhogal</h3>
                      </div>
                      <div class="info-about">
                        <p>Developer</p>
                        <a href="https://www.linkedin.com/in/simran-kaur-bhogal-516813190/"><i class="fab fa-linkedin fa-3x socical_icons"></i></a>
                        <a href="https://www.facebook.com/simran.bhogal.35"><i class="fab fa-facebook fa-3x socical_icons"></i></a>
                        <a href="https://www.instagram.com/simmu_bhogal/"><i class="fab fa-instagram fa-3x socical_icons"></i></a>
                      </div>
                    </div>
                    <div class="about-box col-lg-5 col-md-11 col-sm-11">
                      <div  >
                        <img src="images/Ritik.jpg" class="person-img">
                      </div>
                    <div class="name-box">
                        <h3>Ritik Bhatnagar</h3>
                      </div>
                      <div class="info-about">
                        <p>Developer</p>
                        <!-- <a href="https://www.linkedin.com/home"><i class="fab fa-linkedin fa-3x socical_icons"></i></a> -->
                        <a href="https://www.facebook.com/TheRitikBhatnagar/"><i class="fab fa-facebook fa-3x socical_icons"></i></a>
                        <a href="https://www.instagram.com/ritik.bhatnagar/?hl=en"><i class="fab fa-instagram fa-3x socical_icons"></i></a>
                      </div>
                    </div>
            
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer"); -%>
