<%if(user){%>
<%- include("partials/header2"); -%>
<%}else{%>
<%- include("partials/header"); -%>
<%}%>
<title>Cart</title>
<!--SEctions-->
CART
 <!--Sections end-->


 <%- include("partials/footer"); -%>
