<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Uh oww!</h1>
        <p class="lead message">There was a problem in signing ip. Please try again or contact the developer.</p>

        <form class="" action="/failure" method="post">
          <button class="btn btn-warning btn-lg" type="submit" name="button">Try again</button>
        </form>
      </div>
    </div>
  </body>
</html>
