<%if(user){%>
<%- include("partials/header2"); -%>
<%}else{%>
<%- include("partials/header"); -%>
<%}%>
<title>Renting</title>
<!--SEctions-->
FOR RENT
 <!--Sections end-->


 <%- include("partials/footer"); -%>
