<%if(user){%>
<%- include("partials/header2"); -%>
<%}else{%>
<%- include("partials/header"); -%>
<%}%>
<title>AgroWorld</title>
 <%/* comment
 <title>AgroWorld</title>

  <!--search bar-->
  <div class="container-fluid bg-dark">
    <div class="adjust1">
      <div id="search" class="searchheading">Find Help In <span style="color: #81BC40;"> Agriculture</span></div>
      <form action="">
        <input type="text" class="searchbar" placeholder="type something.." id="exampleInputEmail1">
        <input type="button" class="searchbutton" value="Search">
      </form>
    </div>

  </div>

  <!-- SECTIONS-->

  <section>
    <div class="container-fluid" style="padding:0;">
      <div class="container1">
        <div class="row">
          <div class="col-12 col-md-6 col-sm-12 col-lg-6"><img class="section1" src="images/farm.png"
              alt=""></div>
          <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center section111 p-3">
            <div class="section11">
              <h3> <span style="color: #3F89BA;"> The Smart </span> <span style="color: #81BC40;"> Farming</span></h3>
              <p style="padding: 10px;">start learning about field crops ,horticulture, organic
                farming, animal husbandry, aqua culture and
                high-tech farming.
                start learning about field crops ,horticulture, organic farming, animal husbandry, aqua culture and
                high-tech farming.

              </p>
              <a type="button" class="section11button" href="/techniques">Start Learning</a>
            </div>

          </div>


        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container-fluid" style="background: url('images/trade_box.png');background-repeat: no-repeat;background-size: cover;">
      <div class="container2">
        <div class="row">
          <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center section111 p-3">
            <div class="section11">
              <h3> <span style="color: #3F89BA;"> Trade</span> <span style="color: #ffb813;"> Assistance Portal</span>
              </h3>
              <p style="padding: 10px;">start learning about field crops ,horticulture, organic
                farming, animal husbandry, aqua culture and
                high-tech farming.
                start learning about field crops ,horticulture, organic farming, animal husbandry, aqua culture and
                high-tech farming.

              </p>
              <a type="button" class="section11button" href="/trade">Start Trading</a>
            </div>

          </div>
          <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center"><img class="section2" src="images/corn.png" alt="">
          </div>



        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid "  style="background: url('images/rect.png');background-repeat: no-repeat;background-size: cover;">
      <div class="container3">
        <div class="row">
          <div class="col-12 col-md-5 col-sm-12 col-lg-5 text-center">
            <img class="section3" src="images/tractor.png" alt="">

            </div>
          <div class="col-12 col-md-7 col-sm-12 col-lg-7 text-center section111 pr-3 p-3">
            <div class="section13">
              <h3> <span style="color: #3F89BA;"> Farm  </span> <span style="color: #81BC40;"> Equipment on Rent Service</span></h3>
              <p style="padding: 10px;">start learning about field crops ,horticulture, organic
                farming, animal husbandry, aqua culture and
                high-tech farming.
                start learning about field crops ,horticulture, organic farming, animal husbandry, aqua culture and
                high-tech farming.

              </p>
              <div>
                <a type="button" class="section11button" href="/trade">Start Trading</a>

              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </section>
  <!--Sections end-->
*/%>
<!-- SECTIONS-->

  <section>
    <div class="container-fluid ">
      <div class="container1">

        <div class="row">
          <div class="col-12 col-md-0 col-sm-12 col-lg-0"></div>
          <div class="col-12 col-md-6 col-sm-12 col-lg-6 overr"><img class="section1" src="images/farm.png"
              alt=""></div>
          <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center section111 p-3">
            <div class="section11">
              <h3> <span style="color: #3F89BA;"> The Smart </span> <span style="color: #81BC40;"> Farming</span></h3>
              <p style="padding-right: 10px;">Start learning about the field crops , horticulture , organic farming , animal husbandry , aqua culture and high-tech farming.
              </p>
              <a href="/techniques"><div  class="section11button" > Start Learning</div></a>
            </div>

          </div>


        </div>

      </div>
    </div>
  </section>


  <section>
    <div class="container-fluid "
      style="background: url('images/trade_box.png');background-repeat: no-repeat;background-size: cover;">
      <div class="container2">
   <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center section111 p-3">
        <div class="section11">
          <h3> <span style="color: #3F89BA;"> Trade</span> <span style="color: #ffb813;"> ASSISTANCE PORTAL</span>
          </h3>
          <p style="padding: 10px; ">Start Trading with known companies and farmers togetherly at a very convincing price.
                You'll get proper trade assistance at our website.
          </p>
          <a href="/trade"><div  class="section11button" > Trade Portal</div></a>
        </div>

      </div>
      <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center"><img class="section2" src="images/corn.png" alt="">
      </div>



    </div>
   </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid "  style="background: url('images/rect.png');background-repeat: no-repeat;background-size: cover;">
      <div class="container3">
        <div class="row">

          <div class="col-12 col-md-6 col-sm-12 col-lg-6 text-center">
            <img class="section3" src="images/tractor.png"
            alt="">

            </div>
          <div class="col-12 col-md-4 col-sm-12 col-lg-4  section111 pr-3 p-3">
            <div class="section13">
              <h3> <span style="color: #81BC40;"> Farm tools & </span> <span style="color: #FF480E;"> Equipment on Rent Service</span></h3>
              <p style="padding: 10px;">Have a look to all farming equipment that available for rent or sale. Also, you can put your equipment over rent at our website.

              </p>
              <div >
                <a href="/products"><div  class="section11button" >All Products</div></a>

              </div>
            </div>

          </div>
          <div class="col-12 col-md-2 col-sm-12 col-lg-2"></div>

        </div>
      </div>
    </div>
  </section>
    <%- include("partials/footer"); -%>
