<%if(user){%>
<%- include("partials/header2"); -%>
<%}else{%>
<%- include("partials/header"); -%>
<%}%>
<title>Learning New Techniques</title>

<!--SEctions-->
<br>
<div class="container" style="margin-top: 2%;">
  <h1>Learn more about Agriculture</h1>
  <span>
    <marquee><h5> Welocme to AgroWorld!!  Let's have some news updates: &nbsp; *<a href="https://economictimes.indiatimes.com/news/economy/agriculture/indias-agricultural-export-grows-economic-survey/articleshow/80585995.cms">India's agricultural export grows: Economic Survey</a>* </h5></marquee>
  </span>
  <nav id="navbar2" class="navbar navbar-light sticky-top " style="background-color: #81BC40;">
    <ul class="nav nav-pills" style="margin-left:0.5%;" >
      <li class="nav-item">
        <a class="nav-link" style="background-color: rgb(119, 255, 119); color: black;" href="#FieldCrops"><h6>Field Crops</h6></a>
      </li> &nbsp;
      <li class="nav-item">
        <a class="nav-link" style="background-color: rgb(217, 255, 130); color: black;" href="#AnimalHusbandary"><h6>Animal Husbandary</h6></a>
      </li> &nbsp;
      <li class="nav-item">
        <a class="nav-link" style="background-color: rgb(192, 255, 97); color: black; " href="#Tutorials"><h6>Tutorials</h6></a>
      </li>
    </ul>
  </nav>
  <div  data-bs-target="#navbar2" data-bs-offset="0" tabindex="0">
    <div class="container">
      <div id="FieldCrops" style="padding-top: 2%;">
        <br>
        <h1>Field Crops:</h1>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="images/field.jpg" class="img_width">
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6">
            <p>Field crops include corn, cotton, rice, sorghum, soybeans, winter wheat, durum wheat, and spring wheat. The effects of climate change on crop production will vary by region, and will largely be a factor of impacts on resources important to agricultural production, such as soil and water. Conservation tillage, crop residue management, and cover crops are examples of management practices that can help mitigate the negative impacts of climate change.
              There are three types of crops grow in India. Namely, Kharif, Rabi and Zaid.
            </p>
          </div>
        </div>
        <br>
          <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
          Read More..
          </button>
        <div class="collapse" id="collapse">
          <div class="card card-body">
            <h5><b>Kharif Crops:</b></h5>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-6" >
                <img src="images/KharifCrops.jpg" class="img_width">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6">
                <p>Kharif crops, monsoon crops or autumn crops are domesticated plants that are cultivated and harvested in India, Pakistan and Bangladesh during the Indian subcontinent's monsoon season, which lasts from June to November depending on the area. Monsoon rains may begin as early as May in some parts of the Indian subcontinent, and crops are generally harvested from the third Week of September to October. Rice, maize, and cotton are some of the major Kharif crops in India.</p>
                <h6>Kharif season:</h6>
                <p>The Kharif season varies by crop and region, starting at the earliest in May and ending at the latest in January. In India, the season is popularly considered to start in June and end in October. Kharif crops are usually sown at the beginning of the first rains during the advent of the south-west monsoon season, and they are harvested at the end of monsoon season (October-November).
                  Monsoon sowing dates vary, occurring toward the end of May in the southern state of Kerala and reaching July in some north Indian states. In other regions like Maharashtra, the west coast of India, and Pakistan, which receive rains in June, Kharif crops are sown in May, June and July. In Bangladesh, Kharif crops are usually sown with the beginning of the first rains in June.
                  These crops are dependent on the quantity of rainwater as well as its timing. Too much, too little, or rain at the wrong time may lay waste to the whole year's efforts.
                </p>
                <h6>Common Kharif crops:</h6>
                <ul>
                  <li>Jowar</li>
                  <li>Rice </li>
                  <li>Maize</li>
                  <li>Sugarcane</li>
                  <li>Watermelon</li>
                  <li>Cotton</li>
                  <li>Groundnut</li>
                  <li>Brinjal</li>
                  <li>Bitter gourd, etc.</li>
                </ul>
              </div>
            </div> <br><hr>
            <h5><b>Rabi Crops:</b></h5>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-6" >
                <img src="images/Rabi-Crops.jpg" class="img_width">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6">
                <p>Rabi crops or rabi harvest are agricultural crops that are sown in winter and harvested in the spring in India and Pakistan. The term is derived from the Arabic word for "spring", which is used in the Indian subcontinent, where it is the spring harvest (also known as the "winter crop").</p>
                <h6>Rabi season:</h6>
                <p>The rabi crops are sown around mid-November, preferably after the monsoon rains are over, and harvesting begins in April / May. The crops are grown either with rainwater that has percolated into the ground or using irrigation. Good rain in winter spoils the rabi crops but is good for kharif crops.
                  The major rabi crop in India is wheat, followed by barley, mustard, sesame and peas. Peas are harvested early, as they are ready early: Indian markets are flooded with green peas from January to March, peaking in February.
                  Many crops are cultivated in both kharif and rabi seasons. The agriculture crops produced in India are seasonal in nature and highly dependent on these two monsoons.
                </p>
                <h6>Common Rabi crops:</h6>
                <ul>
                  <li>Wheat</li>
                  <li>Barley</li>
                  <li>Mustard </li>
                  <li>Maize</li>
                  <li>Banana</li>
                  <li>Orange</li>
                  <li>Chickpea</li>
                  <li>Masoor dal</li>
                  <li>Beetroot </li>
                  <li>Sweet potato, etc.</li>
                </ul>
              </div>
            </div> <br><hr>
            <h5><b>Zaid Crops:</b></h5>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-6" >
                <img src="images/ZaidCrops.jpg" class="img_width">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6">
                <p>Zaid crops are summer season crops . They grow in long time period mainly from March to June. These crops are mainly grown in the summer season during a period called the "Zaid crop season." They require warm dry weather as major growth period and longer day length for flowering. The Zaid crop season comes between the Rabi and Kharif crop seasons.</p>
                <h6>Common Zaid crops:</h6>
                <ul>
                  <li>Watermelon</li>
                  <li>Muskmelon</li>
                  <li>Cucumber </li>
                  <li>Fodder crops, etc.</li>
                </ul>
              </div>
            </div> <br><hr>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="AnimalHusbandary" style="padding-top: 2%;">
        <br>
        <h1>Animal Husbandary:</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="images/animal-husbandry.jpg" class="img_width">
        </div>
        <div class="col-lg-7 col-md-6 col-sm-6">
          <p>“Animal husbandry is the branch of agriculture where animals are reared, bred and raised for meat, fiber, eggs, milk and other food products.”</p>
          <p>Animal husbandry refers to livestock raising and selective breeding. It is the management and care of animals in which the genetic qualities and behavior of animals are further developed for profit. A large number of farmers depend upon animal husbandry for their livelihood.
            Animals provide us with a variety of food products which have high nutritional values. Therefore, they require a lot of care and attention.
            Animals are bred commercially in order to meet the high demand for food. Dairy products from animals like cows, buffaloes, goats, are rich sources of protein. These animals are called milch animals as they provide us with milk.</p>
          <p>Another set of animals that provide nutrient-rich food are hen, ducks, goose, etc. They provide us with eggs, which again are rich sources of protein.
            Animals like chicken, duck, ox, goat, pigs, etc. are bred for meat. Other than these domestic animals we have other sources of nutrients as well, they are marine animals. The seafood we eat has very high nutrient values. They are sources of a variety of nutrients like fat, proteins, vitamins and minerals.</p>
          </div>
      </div>
      <br>
      <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse">
        Read More..
      </button>
      <div class="collapse" id="collapse1">
        <div class="card card-body">
          <p>The care, breeding, management, etc of animals are particularly monitored under the department of animal husbandry. Animal husbandry is a large scale business. The animals are bred, cared, reared and sheltered in a farm or region, which are specially built for them. Animal husbandry involves poultry, milk-farms, apiculture (bee agriculture), aquaculture, etc.</p>
          <p>A large number of farmers are depends on Animal Husbandry for their livelihood. In addition to supplying milk, meat, eggs,wool and hides, animals, mainly bullocks, are the major source of power for both farmers and dryers.</p>
          <p>Animal husbandry is the management and care of farm animals by humans for profit, in which genetic qualities and behavior, considered to be advantageous to humans, are further developed.</p>
          <p>There are four major types of animal husbandry practised in the world today:</p>
          <h5><b>Dairy Farming:</b></h5>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6" >
              <img src="images/DairyFarming.jpg" class="img_width">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
              <p>Dairy farming is the agricultural technique concerned with the long term production of milk, which is then processed to obtain dairy products such as curd, cheese, yoghurt, butter, cream, etc. It involves the management of dairy animals such as cows, buffaloes, sheep, goat, etc. </p>
              <p>The animals are taken care of against diseases and are inspected regularly by veterinary doctors. A healthy animal is physically, mentally and socially sound.</p>
              <p>These animals are milked by hand or by machines. The milk is preserved and converted into dairy products industrially, which are then used for commercial purposes.</p>
            </div>
          </div> <br><hr>
          <h5><b>Poultry Farming:</b></h5>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6" >
              <img src="images/PoultryFarming.jpg" class="img_width">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
              <p>Poultry farming is concerned with raising and breeding of birds for commercial purposes. Birds like ducks, chickens, geese, pigeons, turkeys, etc. are domesticated for eggs and meat.</p>
              <p>It is very important to take care of the animals and maintain them in a disease-free environment to obtain healthy food from them. The eggs and meat are a rich source of protein.</p>
              <p>Sanitation and hygienic conditions need to be maintained. The faeces of birds are used as manure to improve soil fertility. Poultry farming provides employment to a large number of people and helps in improving the economy of the farmers.</p>
            </div>
          </div> <br><hr>
          <h5><b>Fish Farming:</b></h5>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6" >
              <img src="images/FishFarming.jpg" class="img_width">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
              <p>Fish farming is the process of raising fish in closed tanks or ponds for commercial purposes. There is an increasing demand for fish and fish protein. Fish species such as salmon, catfish, cod, and tilapia are raised in fish farms.</p>
              <p>Fish farming or pisciculture is of two types:</p>
              <ol>
                <li>Extensive aquaculture, based on the local photosynthetic production</li>
                <li>Intensive aquaculture, based on the external food supply given to fishes.</li>
              </ol>
            </div>
          </div> <br><hr>
          <h5><b>Bee Farming:</b></h5>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6" >
              <img src="images/BeeFarming.jpg" class="img_width">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
              <p>Bee farming or apiculture is the practice of maintaining bee colonies by humans in man-made hives. Honey bees are reared on a large scale. The bees are domesticated for honey, wax, and to pollinate flowers. They are also used by other beekeepers for the same purposes. The place where bees are kept is known as an apiary or a bee yard.</p>
            </div>
          </div> <br><hr>
        </div>
      </div>
    </div>
  </div>
  <div id="Tutorials" class="container col-lg-12 col-md-12 col-sm-12" style="padding-top: 4%;">
    <h1>Tutorials:</h1>
    <div class="row">
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/ygGUe-q3cww"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/KAV0w-UIobI"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/L4n7fRhgpfs"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/FyOzeO6fQwI"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/Ceqqm7zOIpU"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/DoVGbPa0jHw"></iframe>
      <iframe class="iframe_style col-lg-5 col-md-6 col-sm-12" src="https://www.youtube.com/embed/YQFD5AKWV7k"></iframe>
    </div>
  </div>
</div>
</div>
<!--Sections end-->

 <%- include("partials/footer"); -%>
